USE [master]
GO
/****** Object:  Database [BDautosAlRio]    Script Date: 27/6/2024 15:45:17 ******/
CREATE DATABASE [BDautosAlRio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDautosAlRio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDautosAlRio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDautosAlRio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDautosAlRio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDautosAlRio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDautosAlRio]
GO
/****** Object:  User [alumno]    Script Date: 27/6/2024 15:45:17 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Auto]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto](
	[IdAuto] [int] IDENTITY(1,1) NOT NULL,
	[Ano] [int] NOT NULL,
	[Kilometraje] [int] NOT NULL,
	[Matricula] [varchar](50) NOT NULL,
	[Disponible] [bit] NOT NULL,
	[Asientos] [int] NOT NULL,
	[Motor] [varchar](50) NOT NULL,
	[AireAcondicionado] [bit] NOT NULL,
	[ABS] [bit] NOT NULL,
	[Airbag] [bit] NOT NULL,
	[IdColor] [int] NOT NULL,
	[IdTransmision] [int] NOT NULL,
	[IdDireccion] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Imagen] [varchar](50) NOT NULL,
	[IdModelo] [int] NOT NULL,
	[Precio] [int] NOT NULL,
 CONSTRAINT [PK_Autos] PRIMARY KEY CLUSTERED 
(
	[IdAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Colores] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[NombreDireccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[SitioWeb] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[IdModelo] [int] IDENTITY(1,1) NOT NULL,
	[NombreModelo] [varchar](50) NOT NULL,
	[IdMarca] [int] NULL,
 CONSTRAINT [PK_Modelos] PRIMARY KEY CLUSTERED 
(
	[IdModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transmision]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transmision](
	[IdTransmision] [int] IDENTITY(1,1) NOT NULL,
	[NombreTransmision] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Transmision] PRIMARY KEY CLUSTERED 
(
	[IdTransmision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[FechaNacimiento] [datetime] NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NULL,
	[Admin] [bit] NOT NULL,
	[Contrasena] [varchar](256) NOT NULL,
	[Foto] [varchar](512) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auto] ON 

INSERT [dbo].[Auto] ([IdAuto], [Ano], [Kilometraje], [Matricula], [Disponible], [Asientos], [Motor], [AireAcondicionado], [ABS], [Airbag], [IdColor], [IdTransmision], [IdDireccion], [IdMarca], [IdUsuario], [Imagen], [IdModelo], [Precio]) VALUES (3, 2022, 23000, N'AD957FG', 1, 5, N'2.0T', 1, 1, 1, 1, 1, 2, 8, 1, N'bora.png', 99, 900000)
INSERT [dbo].[Auto] ([IdAuto], [Ano], [Kilometraje], [Matricula], [Disponible], [Asientos], [Motor], [AireAcondicionado], [ABS], [Airbag], [IdColor], [IdTransmision], [IdDireccion], [IdMarca], [IdUsuario], [Imagen], [IdModelo], [Precio]) VALUES (5, 2018, 58000, N'ZUA769', 1, 5, N'2.0T', 1, 1, 1, 2, 1, 2, 14, 1, N'A5.jfif', 89, 3137283)
INSERT [dbo].[Auto] ([IdAuto], [Ano], [Kilometraje], [Matricula], [Disponible], [Asientos], [Motor], [AireAcondicionado], [ABS], [Airbag], [IdColor], [IdTransmision], [IdDireccion], [IdMarca], [IdUsuario], [Imagen], [IdModelo], [Precio]) VALUES (6, 2023, 0, N'CA453CD', 1, 5, N'1.5T', 1, 1, 1, 3, 1, 2, 2, 1, N'bronco.png', 9, 12312312)
SET IDENTITY_INSERT [dbo].[Auto] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([IdColor], [NombreColor]) VALUES (1, N'Negro')
INSERT [dbo].[Color] ([IdColor], [NombreColor]) VALUES (2, N'Azul')
INSERT [dbo].[Color] ([IdColor], [NombreColor]) VALUES (3, N'Blanco')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([IdDireccion], [NombreDireccion]) VALUES (1, N'Hidraulica')
INSERT [dbo].[Direccion] ([IdDireccion], [NombreDireccion]) VALUES (2, N'Electrica')
SET IDENTITY_INSERT [dbo].[Direccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([IdMarca], [NombreMarca], [Pais], [Direccion], [SitioWeb]) VALUES (1, N'Chevrolete', N'USA', N'Av.', N'Chevrolete.com')
INSERT [dbo].[Marca] ([IdMarca], [NombreMarca], [Pais], [Direccion], [SitioWeb]) VALUES (2, N'Ford', N'USA', N'Av.', N'Ford.com')
INSERT [dbo].[Marca] ([IdMarca], [NombreMarca], [Pais], [Direccion], [SitioWeb]) VALUES (4, N'Fiat', N'Italia', N'Av.', N'Fiat.com')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([IdModelo], [NombreModelo], [IdMarca]) VALUES (1, N'Cruze RS', 1)
INSERT [dbo].[Modelo] ([IdModelo], [NombreModelo], [IdMarca]) VALUES (2, N'Tracker', 1)
INSERT [dbo].[Modelo] ([IdModelo], [NombreModelo], [IdMarca]) VALUES (3, N'Onix LTZ', 1)
GO
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
SET IDENTITY_INSERT [dbo].[Transmision] ON 

INSERT [dbo].[Transmision] ([IdTransmision], [NombreTransmision]) VALUES (1, N'Automatica')
INSERT [dbo].[Transmision] ([IdTransmision], [NombreTransmision]) VALUES (2, N'Manual')
SET IDENTITY_INSERT [dbo].[Transmision] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [FechaNacimiento], [NombreUsuario], [Email], [Telefono], [Direccion], [Admin], [Contrasena], [Foto]) VALUES (1, CAST(N'2000-11-14T00:00:00.000' AS DateTime), N'ChuluscaOP', N'czernuszkatomas@gmail.com', N'1163767268', N'Av. Diaz Velez', 1, N'toto123', NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [FechaNacimiento], [NombreUsuario], [Email], [Telefono], [Direccion], [Admin], [Contrasena], [Foto]) VALUES (2, CAST(N'2000-11-14T00:00:00.000' AS DateTime), N'tomi', N't@gmail.com', N'11111111', N'av', 0, N'toto123', NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [FechaNacimiento], [NombreUsuario], [Email], [Telefono], [Direccion], [Admin], [Contrasena], [Foto]) VALUES (3, CAST(N'2006-12-12T00:00:00.000' AS DateTime), N'toto', N'm@m', N'11', N'argentina 1700', 0, N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Colores] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Autos_Colores]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Autos_Direccion]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([IdMarca])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Autos_Marcas]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Modelos] FOREIGN KEY([IdModelo])
REFERENCES [dbo].[Modelo] ([IdModelo])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Autos_Modelos]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Transmision] FOREIGN KEY([IdTransmision])
REFERENCES [dbo].[Transmision] ([IdTransmision])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Autos_Transmision]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Autos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Autos_Usuarios]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([IdMarca])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerAutos]    Script Date: 27/6/2024 15:45:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerAutos]
AS
BEGIN
	SELECT * FROM Auto;
END
GO
USE [master]
GO
