<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class = "centrador">
    <div class = "formulario">
    <form action='@Url.Action("CargarDatos4")' method="POST" class="container" enctype="multipart/form-data">  
        <div class="form-group mb-3">
            <label for="MyFile"></label>
            <input type="file" class="form-control" name="MyFile">
        </div>

        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Precio de publicación" name="Precio" value="">
        </div>

        <input type="hidden" name="Idusuario" value="@ViewBag.IdUsuario">

        <div class="form-group text-center mb-3">
            <button type="submit" class="btn btn-primary">Finalizar</button>
        </div>
    </form>
    </div>
</div>    
</body>