<<<<<<< HEAD
<link rel="stylesheet" href="home.css">

<div class="autosDisplay">
    @{
        for(int i = 0; i < ViewBag.ListaAutos.Count; i++){
            <div class="product-card">
                <div class="product-image"><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/05/grotti-turismo-r-gta-v.jpg?tf=3840x" alt="" /></div>
                    <div class="product-info">
                    <h5>Nombre</h5>
                    <h6>$99.99</h6>
                </div>
            </div>
        }
    }
</div>
=======
>>>>>>> 0a98cbe0f3ccb518986736e69e51bde98563e253
